* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  background-color: #6614b8;
}

.backg {
  width: 428px;
  margin-right: auto;
  margin-left: auto;
}

.up {
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}


.wish {
  margin-bottom: 20px;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.ps {
  font-size: 11px;
}

.tytsy{
    background-color: #6614b8;
    color: white;
    padding: 8px;
    border-radius: 13px;
    margin-top: 10px;
}

.meetSpan{
    font-weight: bold;
}

p{
  margin-top: 10px;
}